<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <section class="align-about">
    <h1 class="about-h1">About me...</h1>
    <p class="about-text container-about"> 
      Mi nombre es Albert Argés Sanchez, nací el 11 de febrero de 1993 en Mataró.
      Pasé mi infancia viviendo en Mataró, hasta que cumplí 7 años y nos mudamos a Girona.
      Una vez finalizados los estudios obligatorios, me puse a estudiar un grado medio en electricidad y electronica.
      Después de terminar el grado medio, empecé a trabajar en diferentes sectores, hasta que me contrataron en una 
      ingenieria en la cual sigo trabajando a dia de hoy.
    </p>
    <section class="foto">
    </section>
    <a href="/" class="about-home">Home</a>
  </section>
  </body>
</html>
