<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My webpage</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <h1>My WebPage</h1>
    <!-- SECTION 1 -->
    <section class="container">
    <section>
        <div>
            <a href="/about">
            <p class="title">About me</p>
        </a>
        </div>
    </section>
    <!-- SECTION 2 -->
    <section>
        <div>
            <a href="/works">
        <p class="title">Works</p>
    </a>
    </div>
    </section>
    <!-- SECTION 3 -->
    <section>
        <div>
            <a href="/photo">
            <p class="title">Photo Gallery</p>
        </a>
        </div>
    </section>
</section>
</body>

</html>