html,body {
    margin: 0;
    padding: 0;
    background-color:rgb(13, 155, 82);
    Font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}



/***** ABOUT *****/
.about-h1 {
    color:white;
    text-align: left;
    font-size: 80px;
    padding-top: 60px;
}

.about-text {
    font-size: 20px;
    line-height: 140%;
    color:white
}

.container-about {
    width: 40%;  
}

.align-about {
    padding-left: 60px;
}

.about-home {
    border: 2px solid white;
    font-size: 30px;
    position: relative;
}


/****** HOME ******/

h1{
    color: white;
    text-align: center;
    font-size: 100px
}

div {
    outline: 14px inset rgba(38,158,164,0.57);
    outline-offset: 0px;
border: 14px inset rgba(38,158,164,0.57);
border-radius: 12px;
width: 291px;
    height: 60px;
    margin: 75px;
text-align: center;
position: relative;
bottom: 100px
}

.container {
    display:flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    align-content: center;
    height: 80vh;
    overflow: auto;
    
}

.title {
    font-size: 45px;
    color: white;
    position: relative;
    bottom: 40px;
}

/****** WORKS ******/

.works-h1 {
   text-align: center;
   color:white 
}

.works-list {
    border: 5px solid white;
    width: 20%;
    text-align: center;
    margin-left: 40%;
    font-size: 30px;
    color: white
}

.works-home {
    margin-left: 48.5%;
    font-size: 20px;
}

/* PROJECT1 */

.project1-text {
    text-align: center;
}

.container-project1 {
    width: 40%;
    margin-left: 29%;
    font-size: 20px;
    position:relative;
    bottom: 75px;
}

.photo {
    left: 35%;
    position:relative;
}

.project-home {
    border: 2px solid white;
    font-size: 30px;
    position: relative;
    right: 400px;
    bottom: 600px
}

/***** PHOTOS ******/

.photo-home {
    border: 2px solid white;
    font-size: 30px;
    position: relative;
    bottom: 200px;
}

